<md-content class="md-padding layout-margin-lg">
    <form id="form-candidate" name="candidateForm"
          ng-submit="candidateForm.$valid && nCalCtrl.save(candidateForm, vmCandidate)" novalidate>
        <div layout="row">
            <div flex="60" layout="column">
                <div layout="row">
                    <md-input-container flex="60">
                        <label for="cand_name">Nombre</label>
                        <input type="text" name="name" id="cand_name" required ng-model="vmCandidate.name">
                        <div ng-messages="candidateForm.name.$error"
                             ng-show="candidateForm.$submitted || candidateForm.name.$touched">
                            <div ng-message="required">Este campo es requerido</div>
                        </div>
                    </md-input-container>
                    <div flex=""></div>
                    <md-input-container flex="30">
                        <label for="cand_lot">#Sorteo</label>
                        <input type="text" name="lot" id="cand_lot" required ng-model="vmCandidate.lot">
                        <div ng-messages="candidateForm.lot.$error"
                             ng-show="candidateForm.$submitted || candidateForm.lot.$touched">
                            <div ng-message="required">Este campo es requerido</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex="60">
                        <label for="cand_lastname">Apellido</label>
                        <input type="text" name="lastname" id="cand_lastname" required ng-model="vmCandidate.lastname">
                        <div ng-messages="candidateForm.lastname.$error"
                             ng-show="candidateForm.$submitted || candidateForm.lastname.$touched">
                            <div ng-message="required">Este campo es requerido</div>
                        </div>
                    </md-input-container>
                    <div flex=""></div>
                    <md-input-container flex="30">
                        <label for="cand_identification"># Documento</label>
                        <input type="text" name="identification" id="cand_identification" required
                               ng-model="vmCandidate.identification">
                        <div ng-messages="candidateForm.identification.$error"
                             ng-show="candidateForm.$submitted || candidateForm.identification.$touched">
                            <div ng-message="required">Este campo es requerido</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex="60">
                        <label for="cand_status">Estado</label>
                        <md-select name="status" id="cand_status" required="" ng-model="vmCandidate.status"
                                   placeholder="Seleccione el estado">
                            <md-option ng-value="status.value"
                                       ng-repeat="(key, status) in candidatesStatus">
                                {{ status.label }}
                            </md-option>
                        </md-select>
                        <div ng-messages="candidateForm.status.$error"
                             ng-show="candidateForm.$submitted || candidateForm.status.$touched">
                            <div ng-message="required">Debe seleccionar un estado</div>
                        </div>
                    </md-input-container>
                </div>
                <div flex=""></div>
                <div layout="row" style="margin-top: 80px;">
                    <md-card class="md-padding md-whiteframe-4dp" flex="50">
                        <md-toolbar class="md-table-toolbar md-default">
                            <div class="md-toolbar-tools" style="">
                                <h5>Testigo 1</h5>
                            </div>
                        </md-toolbar>
                        <md-input-container class="" flex>
                            <label for="cand_witness1FirstName">Nombre</label>
                            <input type="text" name="witness1FirstName" id="cand_witness1FirstName" required
                                   ng-model="vmCandidate.witness1FirstName">
                            <div ng-messages="candidateForm.witness1FirstName.$error"
                                 ng-show="candidateForm.$submitted || candidateForm.witness1FirstName.$touched">
                                <div ng-message="required">Este campo es requerido</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="" flex>
                            <label for="cand_witness1LastName">Apellido</label>
                            <input type="text" name="witness1LastName" id="cand_witness1LastName" required
                                   ng-model="vmCandidate.witness1LastName">
                            <div ng-messages="candidateForm.witness1LastName.$error"
                                 ng-show="candidateForm.$submitted || candidateForm.witness1LastName.$touched">
                                <div ng-message="required">Este campo es requerido</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="" flex>
                            <label for="cand_witness1Identification">Identificación</label>
                            <input type="text" name="witness1Identification" id="cand_witness1Identification" required
                                   ng-model="vmCandidate.witness1Identification">
                            <div ng-messages="candidateForm.witness1Identification.$error"
                                 ng-show="candidateForm.$submitted || candidateForm.witness1Identification.$touched">
                                <div ng-message="required">Este campo es requerido</div>
                            </div>
                        </md-input-container>
                    </md-card>
                    <md-card class="md-padding md-whiteframe-4dp" flex="50">
                        <md-toolbar class="md-table-toolbar md-default">
                            <div class="md-toolbar-tools">
                                <h5>Testigo 2</h5>
                            </div>
                        </md-toolbar>
                        <md-input-container class="" flex>
                            <label for="cand_witness2FirstName">Nombre</label>
                            <input type="text" name="witness2FirstName" id="cand_witness2FirstName" required
                                   ng-model="vmCandidate.witness2FirstName">
                            <div ng-messages="candidateForm.witness2FirstName.$error"
                                 ng-show="candidateForm.$submitted || candidateForm.witness2FirstName.$touched">
                                <div ng-message="required">Este campo es requerido</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="" flex>
                            <label for="cand_witness2LastName">Apellido</label>
                            <input type="text" name="witness2LastName" id="cand_witness2LastName" required
                                   ng-model="vmCandidate.witness2LastName">
                            <div ng-messages="candidateForm.witness2LastName.$error"
                                 ng-show="candidateForm.$submitted || candidateForm.witness2LastName.$touched">
                                <div ng-message="required">Este campo es requerido</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="" flex>
                            <label for="cand_witness2Identification">Identificación</label>
                            <input type="text" name="witness2Identification" id="cand_witness2Identification" required
                                   ng-model="vmCandidate.witness2Identification">
                            <div ng-messages="candidateForm.witness2Identification.$error"
                                 ng-show="candidateForm.$submitted || candidateForm.witness2Identification.$touched">
                                <div ng-message="required">Este campo es requerido</div>
                            </div>
                        </md-input-container>
                    </md-card>
                </div>
            </div>
            <div flex="40" layout="column">
                <div layout="row">
                    <div flex=""></div>
                    <md-button type="submit" class="md-raised md-primary" aria-label="Crear Nuevo">
                        Guardar
                    </md-button>
                    <md-button class="btn-default md-raised">Exportar</md-button>
                </div>
                <div flex=""></div>
                <div layout="row">
                    <md-card flex="70" flex-offset="30" class="md-whiteframe-4dp"
                             style="margin-top: 20px; height: 200px">
                        <div flex=""></div>
                        <h3 style="text-align: center">
                            Documentos y Soportes
                        </h3>
                        <div flex=""></div>
                    </md-card>
                </div>
                <div layout="row">
                    <md-card flex="70" flex-offset="30" class="md-whiteframe-4dp"
                             style="margin-top: 20px; height: 200px">
                        <div flex=""></div>
                        <h3 style="text-align: center">
                            Listado de Actas
                        </h3>
                        <div flex=""></div>
                    </md-card>
                </div>
            </div>
        </div>
    </form>
</md-content>