<md-toolbar class="md-menu-toolbar">
    <div class="md-toolbar-tools">
        <span ng-show="!vmCalendar.id">Nuevo Calendario</span>
        <span ng-show="vmCalendar.id">Calendario: {{vmCalendar.name}}</span>
    </div>
</md-toolbar>
<md-content>
    <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
        <md-tab label="Datos" ui-sref="home.calendars.show({id:vmCalendar.id})">
            <md-content class="md-padding layout-margin-lg">
                <form id="calend_form-calendar" name="calendarForm"
                      ng-submit="calendarForm.$valid && nCalCtrl.save(calendarForm, vmCalendar)" novalidate>
                    <div layout="row">
                        <div flex="60" layout="column">
                            <div layout="row" style="margin-top: 30px">
                                <md-input-container flex="50">
                                    <label for="calend_no_eleccion"># Elección</label>
                                    <input type="text" name="noElection" id="calend_no_eleccion" required
                                           ng-model="vmCalendar.noElection">
                                    <div ng-messages="calendarForm.noElection.$error"
                                         ng-show="calendarForm.$submitted || calendarForm.noElection.$touched">
                                        <div ng-message="required">Este campo es requerido</div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex="50">
                                    <label for="calend_status">Estado</label>
                                    <md-select name="status" id="calend_status" required="" ng-model="vmCalendar.status"
                                               placeholder="Seleccione el estado">
                                        <md-option ng-value="status.value"
                                                   ng-repeat="(key, status) in calendarStatus">
                                            {{ status.label }}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="calendarForm.status.$error"
                                         ng-show="calendarForm.$submitted || calendarForm.status.$touched">
                                        <div ng-message="required">Debe seleccionar un estado</div>
                                    </div>
                                </md-input-container>

                            </div>
                            <div layout="row">
                                <md-input-container flex>
                                    <label for="calend_name">Nombre</label>
                                    <input type="text" name="name" id="calend_name" ng-model="vmCalendar.name"
                                           required>
                                    <div ng-messages="calendarForm.name.$error"
                                         ng-show="calendarForm.$submitted || calendarForm.name.$touched">
                                        <div ng-message="required">Este campo es requerido</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="row">
                                <md-input-container flex>
                                    <label for="calend_description">Descripción</label>
                                    <textarea id="calend_description" name="description"
                                              ng-model="vmCalendar.description"
                                              required md-maxlength="150"></textarea>
                                    <div ng-messages="calendarForm.description.$error"
                                         ng-show="calendarForm.$submitted || calendarForm.description.$touched">
                                        <div ng-message="required">Este campo es requerido</div>
                                        <div ng-message="md-maxlength">Excede la cantidad de caracteres permitidos</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <md-card id="calend_event-table" class="md-whiteframe-4dp" style="margin-top: 80px;">
                                <md-toolbar class="md-table-toolbar md-default">
                                    <div class="md-toolbar-tools">
                                        <h2>Listado de Eventos</h2>
                                        <div flex></div>
                                        <md-button class="md-fab md-primary md-mini" aria-label="Agregar evento"
                                                   ng-click="nCalCtrl.addEvent($event)">
                                            <md-icon md-font-library="material-icons">add</md-icon>
                                        </md-button>
                                    </div>
                                </md-toolbar>
                                <md-table-container style="min-height: 200px">
                                    <table md-table ng-model="vmCalendar.events">
                                        <thead md-head>
                                        <tr md-row>
                                            <th md-column>
                                                <span>Fecha</span></th>
                                            <th md-column>
                                                <span>Evento</span>
                                            </th>
                                            <th md-column md-numeric>
                                                <span>Acciones</span>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody md-body>
                                        <tr md-row md-select="vmCalendar.events" md-select-id="calend_name"
                                            md-auto-select
                                            ng-repeat="event in vmCalendar.events | allAsDate:'date' | orderBy:'date'">
                                            <td md-cell>{{event.date | date:'dd / MM / yyyy'}}</td>
                                            <td md-cell>{{event.name}}</td>
                                            <td md-cell>
                                                <md-button class="md-fab md-warn md-mini" aria-label="Agregar evento"
                                                           ng-click="nCalCtrl.removeEvent(vmCalendar, event)">
                                                    <md-icon md-font-library="material-icons">delete</md-icon>
                                                </md-button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </md-table-container>
                            </md-card>
                        </div>
                        <div flex="40" layout="column">
                            <div layout="row">
                                <div flex=""></div>
                                <md-button type="submit" class="md-raised md-primary" aria-label="Crear Nuevo">
                                    Guardar
                                </md-button>
                                <a class="md-button btn-default md-raised" ng-href="index.php/api/calendars/{{vmCalendar.id}}/excel" target="_blank">Exportar</a>
                            </div>
                            <div flex=""></div>
                            <div layout="row">
                                <md-card flex="80" flex-offset="20" class="md-whiteframe-4dp"
                                         style="margin-top: 20px; min-height: 200px">
                                    <md-toolbar class="md-table-toolbar md-default">
                                        <div class="md-toolbar-tools">
                                            <h2>Documentos y Soportes</h2>
                                            <div flex></div>
                                            <md-button class="md-fab md-primary md-mini" aria-label="Agregar Acta"
                                                       ng-click="nCalCtrl.addFile($event)">
                                                <md-icon md-font-library="material-icons">add</md-icon>
                                            </md-button>
                                        </div>
                                    </md-toolbar>
                                    <md-table-container style="min-height: 200px">
                                        <table id="file-table" md-table ng-model="vmCalendar.files">
                                            <thead md-head>
                                            <tr md-row>
                                                <th md-column>
                                                    <span>Descripción</span>
                                                </th>
                                                <th md-column md-numeric>
                                                    <span>Acciones</span>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody md-body>
                                            <tr md-row md-select="vmCalendar.files" md-select-id="calend_files"
                                                md-auto-select
                                                ng-repeat="file in vmCalendar.files | orderBy:'official_id'">
                                                <td md-cell>{{file.description}}</td>
                                                <td md-cell>
                                                    <a ng-href="{{file.filePath}}" download="" type="button"
                                                       class="md-button md-fab md-primary md-mini"
                                                       aria-label="Agregar evento">
                                                        <md-icon md-font-library="material-icons">get_app</md-icon>
                                                    </a>
                                                    <md-button class="md-fab md-warn md-mini"
                                                               aria-label="Agregar Archivo"
                                                               ng-click="nCalCtrl.removeFile(vmCalendar, file)">
                                                        <md-icon md-font-library="material-icons">delete</md-icon>
                                                    </md-button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </md-table-container>
                                </md-card>
                            </div>
                            <div layout="row">
                                <md-card flex="80" flex-offset="20" class="md-whiteframe-4dp"
                                         style="margin-top: 20px; min-height: 200px">
                                    <md-toolbar class="md-table-toolbar md-default">
                                        <div class="md-toolbar-tools">
                                            <h2>Actas</h2>
                                            <div flex></div>
                                            <md-button class="md-fab md-primary md-mini" aria-label="Agregar Acta"
                                                       ng-click="nCalCtrl.addMinute($event)">
                                                <md-icon md-font-library="material-icons">add</md-icon>
                                            </md-button>
                                        </div>
                                    </md-toolbar>
                                    <md-table-container style="min-height: 200px">
                                        <table id="minute-table" md-table ng-model="vmCalendar.minutes">
                                            <thead md-head>
                                            <tr md-row>
                                                <th md-column>
                                                    <span>#ID</span></th>
                                                <th md-column>
                                                    <span>Descripción</span>
                                                </th>
                                                <th md-column md-numeric>
                                                    <span>Acciones</span>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody md-body>
                                            <tr md-row md-select="vmCalendar.minutes" md-select-id="calend_minutes"
                                                md-auto-select
                                                ng-repeat="minute in vmCalendar.minutes | orderBy:'official_id'">
                                                <td md-cell>{{minute.official_id}}</td>
                                                <td md-cell>{{minute.description}}</td>
                                                <td md-cell>
                                                    <a ng-href="{{minute.filePath}}" download="" type="button"
                                                       class="md-button md-fab md-primary md-mini"
                                                       aria-label="Agregar evento">
                                                        <md-icon md-font-library="material-icons">get_app</md-icon>
                                                    </a>
                                                    <md-button class="md-fab md-warn md-mini"
                                                               aria-label="Agregar evento"
                                                               ng-click="nCalCtrl.removeMinute(vmCalendar, minute)">
                                                        <md-icon md-font-library="material-icons">delete</md-icon>
                                                    </md-button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </md-table-container>
                                </md-card>
                            </div>
                        </div>
                    </div>
                </form>
            </md-content>
        </md-tab>
        <md-tab ng-disabled="!vmCalendar.id" label="Candidatos"
                ui-sref="home.calendars.show.candidates.list({id:vmCalendar.id})">
            <md-content ui-view="candidates">
            </md-content>
        </md-tab>
        <md-tab ng-disabled="!vmCalendar.id" label="Mesas">
            <md-content class="md-padding">
                Mesas
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>