<section layout="row" class="wrapper">
    <md-sidenav flex="20" class="md-sidenav-left md-whiteframe-z2" md-is-open="true" md-is-locked-open="true"
                md-component-id="left">
        <header class="nav-header" style="text-align: center">
            <a ui-sref="home.calendars.list" class="docs-logo">
                <img src="img/logo.png" style="max-width: 50%" alt="">
            </a>
        </header>
        <md-content flex>
            <ul>
                <li>
                    <a ui-sref="home.calendars.list">Calendarios</a>
                </li>
            </ul>
        </md-content>
    </md-sidenav>
    <div flex layout="column" ui-view>
    </div>
</section>