<md-content class="md-padding layout-margin-lg">
    <form id="form-candidate" name="candidateForm"
          ng-submit="candidateForm.$valid && nCalCtrl.save(candidateForm, vmCandidate)" novalidate>
        <div layout="row">
            <div flex="60" layout="column">
                <div layout="row">
                    <md-input-container flex="60">
                        <label for="cand_name">Nombre</label>
                        <input type="text" name="name" id="cand_name" required ng-model="vmCandidate.name">
                        <div ng-messages="candidateForm.name.$error"
                             ng-show="candidateForm.$submitted || candidateForm.name.$touched">
                            <div ng-message="required">Este campo es requerido</div>
                        </div>
                    </md-input-container>
                    <div flex=""></div>
                    <md-input-container flex="30">
                        <label for="cand_lot">#Sorteo</label>
                        <input type="text" name="lot" id="cand_lot" required ng-model="vmCandidate.lot">
                        <div ng-messages="candidateForm.lot.$error"
                             ng-show="candidateForm.$submitted || candidateForm.lot.$touched">
                            <div ng-message="required">Este campo es requerido</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex="60">
                        <label for="cand_lastname">Apellido</label>
                        <input type="text" name="lastename" id="cand_lastname" required ng-model="vmCandidate.lastname">
                        <div ng-messages="candidateForm.lastname.$error"
                             ng-show="candidateForm.$submitted || candidateForm.lastname.$touched">
                            <div ng-message="required">Este campo es requerido</div>
                        </div>
                    </md-input-container>
                    <div flex=""></div>
                    <md-input-container flex="30">
                        <label for="cand_identification"># Documento</label>
                        <input type="text" name="identification" id="cand_identification" required
                               ng-model="vmCandidate.identification">
                        <div ng-messages="candidateForm.identification.$error"
                             ng-show="candidateForm.$submitted || candidateForm.identification.$touched">
                            <div ng-message="required">Este campo es requerido</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex="60">
                        <label for="cand_status">Estado</label>
                        <md-select name="status" id="cand_status" required="" ng-model="vmCandidate.status"
                                   placeholder="Seleccione el estado">
                            <md-option ng-value="status.value"
                                       ng-repeat="(key, status) in candidatesStatus">
                                {{ status.label }}
                            </md-option>
                        </md-select>
                        <div ng-messages="candidateForm.status.$error"
                             ng-show="candidateForm.$submitted || candidateForm.status.$touched">
                            <div ng-message="required">Debe seleccionar un estado</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            <div flex="40" layout="column">
                <div layout="row">
                    <div flex=""></div>
                    <md-button type="submit" class="md-raised md-primary" aria-label="Crear Nuevo">
                        Guardar
                    </md-button>
                    <md-button class="btn-default md-raised">Exportar</md-button>
                </div>
                <div flex=""></div>
                <div layout="row">
                    <md-card flex="70" flex-offset="30" class="md-whiteframe-4dp"
                             style="margin-top: 20px; height: 200px">
                        <div flex=""></div>
                        <h3 style="text-align: center">
                            Documentos y Soportes
                        </h3>
                        <div flex=""></div>
                    </md-card>
                </div>
                <div layout="row">
                    <md-card flex="70" flex-offset="30" class="md-whiteframe-4dp"
                             style="margin-top: 20px; height: 200px">
                        <div flex=""></div>
                        <h3 style="text-align: center">
                            Listado de Actas
                        </h3>
                        <div flex=""></div>
                    </md-card>
                </div>
            </div>
        </div>
    </form>
</md-content>